---
name: ci
on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
    - main
    - maintainer
  push:
    tags:
    - '*'
    branches:
    - main
    - maintainer
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ github.repository }}
        flavor: |
          latest=false
    - name: Build
      uses: docker/build-push-action@v4
      with:
        push: false
        load: true
        tags: |
          ${{ steps.meta.outputs.tags }}
          ${{ github.repository }}:trivy
        labels: ${{ steps.meta.outputs.labels }}
    - name: Report Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ github.repository }}:trivy
        format: sarif
        output: trivy-results.sarif
    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: trivy-results.sarif
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ github.repository }}:trivy
        format: table
        exit-code: '1'
        ignore-unfixed: true
        severity: CRITICAL,HIGH
    - name: Push
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
